/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LAYER1  1
#define LAYER2  2


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Z  |  U   |  I  |  O  |  P  | BKSP |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ß  |  #   |
// | CTRL |  Y  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  -  | MOD2 |
//                    | GUI | LWR | SPC |   | ROT | BKSP  | ENT |
                        bindings = <
   &kp TAB    &kp Q  &kp W     &kp E     &kp R  &kp T       &kp Z   &kp U    &kp I     &kp O   &kp P    &kp BSPC
   &kp LSHFT  &kp A  &kp S     &kp D     &kp F  &kp G       &kp H   &kp J    &kp K     &kp L   &kp B    &kp NUHS
   &kp LCTRL  &kp Y  &kp X     &kp C     &kp V  &kp B       &kp N   &kp M    &kp COMMA &kp DOT &kp SLSH &mo 2
                               &kp LGUI  &mo 1  &kp SPACE   &kp RET &kp BSPC &kp RALT
                        >;
                };
                
                LAYER1 {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | SHFT |     |     |     |     |     |   |     | UP  |     |     |     |      |
// | CTRL |  <  |  >  |     |     |     |   | LFT | DWN | RGT |     |     | MOD3 |
//                    |     |     |     |   | ROT |     |     |
                        bindings = <
   &kp ESC    &kp 1     &kp 2     &kp 3   &kp 4   &kp 5     &kp 6     &kp 7     &kp 8     &kp 9   &kp 0   &kp BSPC
   &bt LSHFT  &trans    &trans    &trans  &trans  &trans    &trans    &kp UP    &trans    &tran   &trans  &trans
   &kp LCTRL  &kp LABK  &kp RABK  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp RIGHT &trans  &trans  &mo 3
                                  &trans  &trans  &trans    &trans    &trans    &trans
                        >;
                };

                LAYER2 {
// -----------------------------------------------------------------------------------------
// |  ^   |  !  |  "  |  §  |  $  |  %  |   |  &  |  /  |  (  |  )  |  ?  | BKSP |
// | SHFT |  ´  |  `  |     |     |     |   |     |  \  |  [  |  ]  |  ß  |  ~   |
// | CTRL |  |  |     |     |     |     |   |     |     |  {  |  }  |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
    &kp CIRC   &kp EXLM  &kp AT  &kp HASH  &kp DLR  &kp PERC    &kp AMPR  &kp SLSH  &kp LPAR  &kp RPAR  &kp QUES  &kp BSPC
    &kp LSHFT  &trans    &trans  &trans    &trans   &trans      &trans    &kp BSLS  &kp LBRC  &kp RBRC  &kp B     &kp TILDE
    &kp LCTRL  &kp PIPE  &trans  &trans    &trans   &trans      &trans    &trans    &kp LCBR  &kp RCBR  &trans    &trans
                                 &trans    &trans   &trans      &trans    &trans    &trans

                        >;
                };
        };
};