/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Z  |  U   |  I  |  O  |  P  | BKSP |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ß  |  #   |
            // | CTRL |  Y  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  -  | LA2  |
            //                    | GUI | LA1 | SPC |   | ROT | BKSP  | ENT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Z  &kp U     &kp I      &kp O    &kp P      &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H  &kp J     &kp K      &kp L    &kp DE_SZ  &kp HASH
&kp LCTRL  &kp Y  &kp X  &kp C     &kp V  &kp B        &kp N  &kp M     &kp COMMA  &kp DOT  &kp SLASH  &mo 2
                         &kp LGUI  &mo 1  &kp SPACE    &none  &kp BSPC  &kp RET
            >;
        };

        LA1 {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | SHFT |  @  |     |  €  |     |     |   |     | UP  |     |     |  Ü  |  '   |
            // | CTRL |  <  |  >  |     |     |     |   | LFT | DWN | RGT |  Ö  |  Ä  | MOD3 |
            //                    |     |     |     |   | ROT |     |     |

            bindings = <
&kp ESC    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5    &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &kp BSPC
&kp LSHFT  &kp AT            &none            &kp DE_EUR            &none            &none              &none            &kp UP           &none            &none            &kp DE_UE        &kp DE_SQT
&kp LCTRL  &kp LT           &kp GT           &none            &none            &none              &kp LEFT         &kp DOWN         &kp RIGHT        &kp DE_OE      &kp DE_AE        &none
                                             &none            &none            &none              &none            &none            &kp RET
            >;
        };

        LA2 {
            // -----------------------------------------------------------------------------------------
            // |  ^   |  !  |  "  |  §  |  $  |  %  |   |  &  |  /  |  (  |  )  |  ?  | BKSP |
            // | SHFT |  ´  |  `  |     |     |     |   |     |  \  |  [  |  ]  |  ß  |  ~   |
            // | CTRL |  |  |     |     |     |     |   |     |     |  {  |  }  |     |      |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&kp CARET  &kp EXCL  &kp DE_DQT  &kp DE_SECT  &kp DLLR  &kp PRCNT    &kp AMPS  &kp FSLH  &kp LPAR  &kp RPAR  &kp QMARK  &kp BSPC
&kp LSHFT  &none     &none    &none      &none     &none        &none     &kp BSLH  &kp LBKT  &kp RBKT  &none      &kp TILDE
&kp LCTRL  &kp PIPE  &none    &none      &none     &none        &none     &none     &kp LBRC  &kp RBRC  &none      &none
                              &none      &none     &none        &kp A     &none     &none
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };
    };
};
