// Copyright (c) 2020 The ZMK Contributors
//SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/ext_power.h>  
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

#define LA0   0
#define LA1   1
#define LA2   2
#define LA3   3

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
	td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

     keymap {
          compatible = "zmk,keymap";

          layer_0 {
               bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮   ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
// | TAB                | Q                  | W                  | E                  | R                  | T                  |   | Z                  | U                  | I                  | O                  | P                  | BKSP               |
     &kp TAB              &kp Q                &kp W                &kp E                &kp R                &kp T                    &kp DE_Z             &kp U                &kp I                &kp O                &kp P                &kp BSPC  
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | SHFT               | A                  | S                  | D                  | F                  | G                  |   | H                  | J                  | K                  | L                  | DE_SZ              | DE_HAS             |
     &kp LALT             &hm LGUI A           &hm LALT S           &hm LCTRL  D         &hm LSHFT F          &kp G                    &kp H                &hm LSHFT J          &hm LCTRL K         &hm LALT L            &hm LGUI DE_SZ       &kp DE_HASH
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | CTRL               | Y                  | X                  | C                  | V                  | B                  |   | N                  | M                  | ,                  | .                  | -                  | LA2                |
     &kp LCTRL            &kp DE_Y             &kp X                &kp C                &kp V                &kp B                    &kp N                &kp M                &kp COMMA            &kp DOT              &kp SLASH            &mo LA2
// ╰──────────────────────────────────────────────────────────────┬────────────────────┬────────────────────┬────────────────────┤   ├────────────────────┬────────────────────┬────────────────────┬──────────────────────────────────────────────────────────────╯
//                                                                | GUI                | LA1                | SPC                |   | A                  | BKSP               | ENT                |
                                                                    &kp LGUI             &mo LA1              &kp SPACE                &kp A                &kp BSPC             &kp RET
//                                                                ╰────────────────────┴────────────────────┴────────────────────╯   ╰────────────────────┴────────────────────┴────────────────────╯
               >;
               sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT>;
          };

          layer_1 {
               bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮   ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
// | ESC                | 1                  | 2                  | 3                  | 4                  | 5                  |   | 6                  | 7                  | 8                  | 9                  | 0                  | BKSP               |
     &kp ESC              &kp N1               &kp N2               &kp N3               &kp N4               &kp N5                   &kp N6               &kp N7               &kp N8               &kp N9               &kp N0               &kp BSPC
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | SHFT               | @                  |                    | €                  |                    |                    |   |                    |                    | UP                 | Ö                  | Ü                  | '                  |
     &kp LALT             &kp DE_AT            &none                &kp DE_EUR           &none                &none                    &none                &none                &kp UP               &kp DE_OE            &kp DE_UE            &kp DE_SQT
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | CTRL               | <                  | >                  | ´                  | `                  |                    |   |                    | LFT                | DWN                | RGT                | Ä                  | LA3                |
     &kp LCTRL            &kp DE_LT            &kp DE_GT            &kp DE_ACUTE         &kp DE_GRAVE          &none                    &none                &kp LEFT             &kp DOWN             &kp RIGHT            &kp DE_AE            &mo LA3
// ╰──────────────────────────────────────────────────────────────┬────────────────────┬────────────────────┬────────────────────┤   ├────────────────────┬────────────────────┬────────────────────┬──────────────────────────────────────────────────────────────╯
//                                                                |                    |                    |                    |   |                    | BKSP               | ENT                |
                                                                    &none                &none                &none                    &none                &kp BSPC             &kp RET
//                                                                ╰────────────────────┴────────────────────┴────────────────────╯   ╰────────────────────┴────────────────────┴────────────────────╯
               >;
               sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp UP DOWN>;
          };

          layer_2 {
               bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮   ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
// | ^                  | !                  | "                  | §                  | $                  | %                  |   | &                  | /                  | (                  | )                  | ?                  | BKSP               |
     &kp DE_CARET         &kp EXCL             &kp DE_DQT           &kp DE_SECT          &kp DLLR             &kp DE_PRCNT             &kp DE_AMPS          &kp DE_FSLH          &kp DE_LPAR          &kp DE_RPAR          &kp DE_QMARK         &kp BSPC
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | SHFT               |                    |                    |                    |                    |                    |   |                    | \                  | [                  | ]                  | ß                  | ~                  |
     &kp LALT             &none                &none                &none                &none                &none                    &none                &kp DE_BSLH          &kp DE_LBKT          &kp DE_RBKT          &kp DE_CSZ           &kp DE_TILDE
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | CTRL               | |                  |                    |                    |                    |                    |   |                    |                    | {                  | }                  |                    |                    | 
     &kp LCTRL            &kp DE_PIPE          &none                &none                &none                &none                    &none                &none                &kp DE_LBRC          &kp DE_RBRC          &none                &none
// ╰──────────────────────────────────────────────────────────────┬────────────────────┬────────────────────┬────────────────────┤   ├────────────────────┬────────────────────┬────────────────────┬──────────────────────────────────────────────────────────────╯
//                                                                |                    |                    |                    |   |                    |                    |                    |
                                                                    &none                &none                &none                    &none                &none                &none
//                                                                ╰────────────────────┴────────────────────┴────────────────────╯   ╰────────────────────┴────────────────────┴────────────────────╯
               >;
               sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
          };

          mac_layer_3 {
               bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮   ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
// | ^                  | !                  | "                  | §                  | $                  | %                  |   | &                  | /                  | (                  | )                  | ?                  | BKSP               |
     &kp CARET         &kp EXCL             &kp DE_DQT           &kp DE_SECT          &kp DLLR             &kp DE_PRCNT             &kp DE_AMPS          &kp DE_FSLH          &kp DE_LPAR          &kp DE_RPAR          &kp DE_QMARK         &kp BSPC
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | SHFT               | @                  |                    |                    |                    |                    |   |                    | \                  | [                  | ]                  | ß                  | ~                  |
     &kp LALT             &kp AT               &none                &none                &none                &none                    &none                &kp DE_BSLH          &kp DE_LBKT          &kp DE_RBKT          &kp DE_CSZ           &kp TILDE
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤   ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
// | CTRL               | |                  |                    |                    |                    |                    |   |                    |                    | {                  | }                  |                    |                    | 
     &kp LCTRL            &kp PIPE             &none                &none                &none                &none                    &none                &none                &kp LBRC             &kp RBRC             &none                &none
// ╰──────────────────────────────────────────────────────────────┬────────────────────┬────────────────────┬────────────────────┤   ├────────────────────┬────────────────────┬────────────────────┬──────────────────────────────────────────────────────────────╯
//                                                                |                    |                    |                    |   |                    |                    |                    |
                                                                    &none                &none                &none                    &none                &none                &none
//                                                                ╰────────────────────┴────────────────────┴────────────────────╯   ╰────────────────────┴────────────────────┴────────────────────╯
               >;
               sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
          };
     };
};
