// Copyright (c) 2020 The ZMK Contributors
//SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
// #include <dt-bindings/zmk/ext_power.h>  
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"

#define LA0   0
#define LA1   1
#define LA2   2

/ {
     keymap {
          compatible = "zmk,keymap";

          layer_0 {
               bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// | TAB      | Q        | W        | E        | R        | T        |   | Z        | U        | I        | O        | P        | BKSP     |
     &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T          &kp DE_Z   &kp U      &kp I      &kp O      &kp P      &kp BSPC  
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// | SHFT     | A        | S        | D        | F        | G        |   | H        | J        | K        | L        | DE_SZ    | DE_HAS   |
     &kp LSHFT  &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp DE_SZ  &kp DE_HASH
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// | CTRL     | Y        | X        | C        | V        | B        |   | N        | M        | ,        | .        | -        | LA2      |
     &kp LCTRL  &kp DE_Y    &kp X     &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH  &mo LA2
// ╰──────────┬──────────┬──────────┬──────────┬──────────┬──────────┤   ├──────────┬──────────┬──────────┬──────────┬──────────┬──────────╯
//                                  | GUI      | LA1      | SPC      |   | MUTe     | BKSP     | ENT      |
                                      &kp LGUI   &mo LA1    &kp SPACE      &kp C_MUTE &kp BSPC   &kp RET
//                                  ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
               >;
               sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
          };

          layer_1 {
               bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// | ESC      | 1        | 2        | 3        | 4        | 5        |   | 6        | 7        | 8        | 9        | 0        | BKSP     |
     &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSPC
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// | SHFT     | @        |          | €        |          |          |   |          | UP       | Ä        | Ö        | Ü        | '        |
     &kp LSHFT  &kp DE_AT &none       &kp DE_EUR &none      &none         &none       &kp UP     &kp DE_AE  &kp DE_OE  &kp DE_UE  &kp DE_SQT
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// | CTRL     | <        | >        |          |          |          |   | LFT      | DWN      | RGT      | Ö        | Ä        | MOD3     |
     &kp LCTRL  &kp DE_LT  &kp DE_GT  &none      &none      &none          &kp LEFT   &kp DOWN   &kp RIGHT  &kp DE_OE  &kp DE_AE  &none
// ╰──────────┬──────────┬──────────┬──────────┬──────────┬──────────┤   ├──────────┬──────────┬──────────┬──────────┬──────────┬──────────╯
//                                  |          |          |          |   |          | BKSP     | ENT      |
                                      &none      &none      &none          &none      &kp BSPC   &kp RET
//                                  ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
               >;
               sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT>;##
         };

        layer_2 {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// | ^        | !        | "        | §        | $        | %        |   | &        | /        | (        | )        | ?        | BKSP     |
     &kp DE_CARET &kp EXCL &kp DE_DQT &kp DE_SECT &kp DLLR &kp DE_PRCNT    &kp DE_AMPS &kp DE_FSLH &kp DE_LPAR &kp DE_RPAR &kp DE_QMARK &kp BSPC
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// | SHFT     | ´        | `        |          |          |          |   |          | \        | [        | ]        | ß        | ~        |
     &kp LSHFT  &kp DE_ACUTE &kp DE_GRAVE &none  &none      &none          &none     &kp DE_BSLH &kp DE_LBKT &kp DE_RBKT &kp DE_CSZ &kp DE_TILDE
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// | CTRL     | |        |          |          |          |          |   |          |          | {        | }        |          |          |
     &kp LCTRL  &kp DE_PIPE  &none    &none      &none     &none        &none     &none     &kp DE_LBRC  &kp DE_RBRC  &none      &none
// ╰──────────┬──────────┬──────────┬──────────┬──────────┬──────────┤   ├──────────┬──────────┬──────────┬──────────┬──────────┬──────────╯
//                                  |          |          |          |   |          |          |          |
                                      &none      &none     &none           &none      &none      &none
//                                  ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
